@import "mocha.css";

* {
    font-family: "SauceCodePro NFP Medium";
    font-size: 14px;
}

window#waybar {
    background-color: @base;
    border-bottom: 3px solid @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.3s;
}

box {
    padding: 0.15rem 0.25rem;
}

label {
    margin: 0rem 0.25rem;
    padding: 0.25rem;
}

/* === Power === */
#custom-power {
    color: @red;
}

#custom-power button.focused{
    background-color: @crust;
}
/* ============= */

/* === CPU === */
#cpu {
    color: @maroon;
}
/* =========== */

/* === Memory === */
#memory {
    color: @peach;
}
/* ============== */

/* === Temperature === */
#temperature {
    color: @yellow;
}
/* =================== */

/* === Volume === */
#pulseaudio {
    color: @teal;
}
/* ============== */

/* === Network === */
#network {
    color: @sapphire;
}

#network.disconnected {
    color: @red;
}
/* =============== */

/* === Battery === */
#battery {
    color: @lavender;
}

#battery.discharging.warning {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
}
/* =============== */

/* === Clock === */
#clock {
    color: @mauve;
}
/* ============= */