ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="009c", ATTR{power/wakeup}="disabled", ATTR{driver/3-1/power/wakeup}="disabled"
